{% extends "/layout.html" %}

{% block styles %}{% endblock %}

{% block body %}

    <!-- Search Bar -->
    <div class="row-fluid">
        <div class="span12 dois">
            <div class="content-container">
                <form class="navbar-search"><img src="{{ url_for('static', filename='img/search-icon.png') }}" alt="" height="40px" width="40px"><input type="text" class="search-query" placeholder="Search ITP's cabinet here"></form>
            </div>
        </div>
    </div>


    <!-- Navigation Area -->
    <div class="row-fluid">
        <div class="span12 tres">
                <ul class="nav nav-pills">
                  <li class="active"><a href="#"><span class="icon_nav"></span>Everything</a></li>
                  <li class=""><a href="#"><span class="icon_nav"></span>Eletronics</a></li>
                  <li class=""><a href="#"><span class="icon_nav"></span>Materials</a></li>
                  <li class=""><a href="#"><span class="icon_nav"></span>Movies</a></li>
                  <li class=""><a href="#"><span class="icon_nav"></span>Books</a></li>
                </ul>  
        </div>
    </div>


    <!-- Thumbnails -->
    <div class="container">
      	<div class="row-fluid">
            <ul class="thumbnails">
              
					{% for name, info in books.items() %}
          <li class="span3">
              <div class="thumbnail">
                <div class="caption">
        					<img class="img-thumbnail" src="/static/img/books/{{ info.get('image') }}" alt="">
        					<h3>{{ name }}</h3>
        					<p><em>[{{ info.get('type')}}, by {{ info.get('author')}}]</em></p>
        					<p><em>"{{ info.get('description')}}"</em></p>
                  <a href="/books/{{ info.get('title') }}" class="btn btn-info">Borrow</a>
                </div>
              </div>
          </li>  
					{% endfor %}

            </ul>
        </div>
    </div>


          <!-- Pagination -->
      <div class="container">
          <div class="pagination pagination-centered">
            <ul>
              <li class="disabled"><a href="#">Prev</a></li>
              <li class="disabled"><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li class="active"><a href="#">3</a></li>
              <li class="active"><a href="#">4</a></li>
              <li class="active"><a href="#">5</a></li>
              <li class="active"><a href="#">Next</a></li>
            </ul>
          </div>
      </div>    

{% endblock %}


{% block scripts %}{% endblock %}